.form-size-field {
  flex-grow: 1;
}

.container {
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

.child {
  flex-grow: 1;
}
