<mat-card>
  <form [formGroup]="fg" (ngSubmit)="onSubmit()"  >
    <mat-card-header>
      <mat-card-title>Configurações</mat-card-title>
    </mat-card-header>
    <hr>
    <mat-card-content *ngIf="config; else loading">
      <mat-tab-group>

        <mat-tab label="Usuário">
          <p>
            <mat-checkbox appearance="fill" class="form-size-field" formControlName="currentdate">
              <mat-label>Data de Hoje</mat-label>
              <br>
              <mat-hint>Ao criar um novo boleto é configurado automaticamente a data de hoje commo padrão</mat-hint>
            </mat-checkbox>
          </p>
          <p>
            <mat-checkbox appearance="fill" class="form-size-field" formControlName="verBoletoAutomaticamente">
              <mat-label>Ir Para Boletos</mat-label>
              <br>
              <mat-hint>Automaticamente vizualise o boleto após criado</mat-hint>
            </mat-checkbox>
          </p>
          <p>
              <mat-checkbox appearance="fill" class="form-size-field" formControlName="hideCompletedBoletos">
                <mat-label>Esconder Boletos Vencidos</mat-label>
                <br>
                <mat-hint>Não será mostrado na tela de boletos aqueles que já estiverem vencidos</mat-hint>
              </mat-checkbox>
            </p>
          <p>
            <mat-form-field appearance="fill" class="form-size-field">
              <mat-label>Parcelas</mat-label>
              <input matInput placeholder="parcelas" formControlName="parcelas">
              <mat-hint>Total de parcelas para a ser criada por boleto</mat-hint>
            </mat-form-field>
          </p>
        </mat-tab>
        <mat-tab label="Desenvolvedor">
          <p>
            <mat-checkbox appearance="fill" class="form-size-field" formControlName="logMessages">
              <mat-label>Log Messages</mat-label>
              <br>
              <mat-hint>Mostrar log de todas as ações clicadas</mat-hint>
            </mat-checkbox>
          </p>
          <p>
            <mat-checkbox appearance="fill" class="form-size-field" formControlName="showFormDebug">
              <mat-label>Form Debug</mat-label>
              <br>
              <mat-hint>Mostrar Formulário que será submetido</mat-hint>
            </mat-checkbox>
          </p>
        </mat-tab>

      </mat-tab-group>      
      <app-button [disabled]="!fg.valid" [type]="'submit'">Salvar</app-button>
    </mat-card-content>
  </form>
</mat-card>

<div *ngIf="config">
  <app-form-debug *ngIf="config.showFormDebug" [form]="fg"></app-form-debug>
</div>

<ng-template #loading>
    <div class="loading">
      <span> <mat-spinner></mat-spinner></span>
    </div>
</ng-template>
