<mat-card>
  <form [formGroup]="fg" (ngSubmit)="onSubmit()">
    <mat-card-header>
      <mat-card-title>Configurações</mat-card-title>
      <mat-card-subtitle>Configurar Preferências de Usuário</mat-card-subtitle>
    </mat-card-header>
    <hr>
    <mat-card-content>
      <p>
        <mat-checkbox appearance="standard" class="form-size-field" formControlName="currentdate">
          <mat-label>Data de Hoje</mat-label>
          <br>
          <mat-hint>Ao criar um novo boleto é configurado automaticamente a data de hoje commo padrão</mat-hint>
        </mat-checkbox>
      </p>
      <p>
        <mat-checkbox appearance="standard" class="form-size-field" formControlName="logMessages">
          <mat-label>Log Messages</mat-label>
          <br>
          <mat-hint>Mostrar log de todas as ações clicadas</mat-hint>
        </mat-checkbox>
      </p>
      <p>
        <mat-checkbox appearance="standard" class="form-size-field" formControlName="showFormDebug">
          <mat-label>Form Debug</mat-label>
          <br>
          <mat-hint>Mostrar Formulário que será submetido</mat-hint>
        </mat-checkbox>
      </p>
      <p>
        <mat-form-field appearance="standard" class="form-size-field">
          <mat-label>Parcelas</mat-label>
          <input matInput placeholder="parcelas" formControlName="parcelas">
          <mat-hint>Total de parcelas para a ser criada por boleto</mat-hint>
        </mat-form-field>
      </p>



    </mat-card-content>
    <mat-card-actions>
      <button mat-flat-button color="primary" type="submit">Salvar</button>
    </mat-card-actions>
  </form>
</mat-card>

<div *ngIf="config">
  <app-form-debug *ngIf="config.showFormDebug" [form]="fg"></app-form-debug>
</div>
