<div class="container">
  <div class="container-inside">
    <form [formGroup]="fg" (ngSubmit)="onSubmit()">

      <label for="parcelas">Parcelas - <small>Total de parcelas para a ser criada por boleto</small></label>
      <input type="text" id="parcelas" formControlName="parcelas"><br />

      <label for="currentdate">CurrentDate - <small>Ao criar um novo boleto é configurado automaticamente a data de hoje commo padrão</small></label>
      <input type="checkbox" formControlName="currentdate">

      <button type="submit">Submit</button>
    </form>
  </div>
  <div class="container-inside">
    <app-form-debug [form]="fg"></app-form-debug>
  </div>
</div>
