<mat-card>
  <mat-card-header class="titleflexheader">
    <mat-card-title>Administrar Boletos</mat-card-title>
  </mat-card-header>
  <hr>
  <mat-card-content>
    <button class="titleflexbutton" mat-flat-button color="primary" type="button" (click)="openDetails(null)">Criar
      Novo Boleto</button>
    <div *ngIf="boletos; else loading">
      <table mat-table [dataSource]="boletos" class="tableContent">
        <ng-container matColumnDef="ID">
          <th mat-header-cell *matHeaderCellDef> ID </th>
          <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>

        <ng-container matColumnDef="Cliente">
          <th mat-header-cell *matHeaderCellDef> Nome </th>
          <td mat-cell *matCellDef="let element"> {{element.cliente.nome}} </td>
        </ng-container>

        <ng-container matColumnDef="Emissor">
          <th mat-header-cell *matHeaderCellDef> Emissor </th>
          <td mat-cell *matCellDef="let element"> {{element.emissor.nome}} </td>
        </ng-container>

        <ng-container matColumnDef="Valor">
          <th mat-header-cell *matHeaderCellDef> Valor </th>
          <td mat-cell *matCellDef="let element"> {{element.cliente.valor | currency:'BRL'}} </td>
        </ng-container>

        <ng-container matColumnDef="Parcelas">
          <th mat-header-cell *matHeaderCellDef> Primeira Parcela </th>
          <td mat-cell *matCellDef="let element"> {{element.dataPrimeiraParcela | dateFormat}} </td>
        </ng-container>

        <ng-container matColumnDef="DataPrimeiraParcela">
          <th mat-header-cell *matHeaderCellDef> Total de Parcelas </th>
          <td mat-cell *matCellDef="let element"> {{element.parcela }} </td>
        </ng-container>

        <ng-container matColumnDef="Acoes">
          <th mat-header-cell *matHeaderCellDef> Ações </th>
          <td mat-cell *matCellDef="let element">
            <div class="buttonGroup">
              <button class="bt1" mat-mini-fab color="primary">
                <i class="material-icons">
                  settings
                </i>
              </button>
              <button class="bt2" mat-mini-fab color="warn" (click)="delete(element, $event)" matTooltip="Deletar {{element.cliente.nome}}">
                <i class="material-icons">
                  delete
                </i></button>&nbsp;
              <button class="bt3" mat-mini-fab color="accent" (click)="viewBoleto(element)" matTooltip="Ver Boleto Para {{element.cliente.nome}}">
                <i class="material-icons">
                  attach_money
                </i> </button> &nbsp;
              <button class="bt4" mat-mini-fab color="primary" (click)="editar(element)" matTooltip="Editar {{element.cliente.nome}}">
                <i class="material-icons">
                  edit
                </i>
              </button>
            </div>

          <td mat-cell *matCellDef="let element">
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="headElements"></tr>
        <tr mat-row *matRowDef="let row; columns: headElements;"></tr>
      </table>
    </div>
  </mat-card-content>
</mat-card>

<ng-template #loading>
  <span> Carregando...</span>
</ng-template>
