<button (click)="print()" mat-flat-button color="warn" class="printButton">Imprimir</button>

<div class="container impressao boletosPosition" id="print-section">
  <div *ngIf="boleto">
    <div *ngFor="let b of boletovector,let i = index;">
      <div class="boleto" style="width:230mm;background-image: url(assets/shared/bgazul.jpg) !important;">
        <div class="canhoto">

          <div class="container margin-sections">
            <div class="content">
              <div class="item center">
                <h4>Canhoto N° {{b + 1}} </h4>
              </div>
            </div>
            <div class="content">
              <div class="item center">
                <h5>{{boleto.cliente.nome}}</h5>
              </div>
            </div>
            <div class="content">
              <div class="item center">
                <h5>{{boleto.cliente.endereco.rua}}
                  {{boleto.cliente.endereco.numero}} {{boleto.cliente.endereco.bairro}}</h5>
              </div>
            </div>
            <div class="content">
              <div class="item center">
                <h4>R$ {{boleto.cliente.valor}}</h4>
              </div>
            </div>
            <div class="content text-center">
              <h4>{{somarMes(boleto.dataPrimeiraParcela, b) | dateFormat}}</h4>
            </div>
          </div>

        </div>
        <div class="recibo">

          <div class="container margin-sections">
            <div class="content">
              <div class="item center">
                <h3>RECIBO N° {{b + 1}}</h3>
              </div>
              <div class="item center">
                <h3>*** R$ {{boleto.cliente.valor}} ***</h3>
              </div>
            </div>
            <div class="content">
              <div class="item center">
                <h3>{{boleto.emissor.nome}} - {{boleto.emissor.telefone}}</h3>
              </div>
            </div>
            <div class="content">
              <div class="item right">
                <h4>Recebemos de:</h4>
              </div>
              <div class="item left">
                <h4>{{boleto.cliente.nome}}</h4>
              </div>
            </div>
            <div class="content">
              <div class="item right">
                <h4>Endereço:</h4>
              </div>
              <div class="item left">
                <h4>{{boleto.cliente.endereco.rua}}
                  {{boleto.cliente.endereco.numero}} {{boleto.cliente.endereco.bairro}} </h4>
              </div>
            </div>
            <div class="content">
              <div class="item right">
                <h4>A importância de:</h4>
              </div>
              <div class="item left">
                <h4> {{extenso(boleto.cliente.valor)}}</h4>
              </div>
            </div>
            <br>
            <div class="content">
              <div class="item center">
                <h4 class="text-color"> {{boleto.emissor.endereco.cidade.nome}}, {{somarMes(boleto.dataPrimeiraParcela,
                  b) | dateFormat}}</h4>
              </div>
            </div>
            <br />
            <div class="content">
              <div class="item center">
                <h4>____________________________________________________
                  <br />
                  <small>Assinatura</small>
                </h4>
              </div>
            </div>
          </div>

        </div>
      </div>
      <div *ngIf="((i + 1) % 2) == 0" style="page-break-after: always"></div>
    </div>
  </div>
</div>
