.boleto {
  display: flex;
}

.canhoto {
  flex-grow: 1;
}

.recibo {
  flex-grow: 1;
}

.recibo .content {
  display: flex;
}

.recibo .content .item {
  flex-grow: 1;
}

h4 {
  margin: 5px 5px;
}

.recibo .content .center {
  text-align: center;
}

.recibo .content .left {
  text-align: left;
}

.recibo .content .right {
  text-align: right;
}

.folha {
  border: 1px dashed black;
}

.a4 {
  width: 297mm;
  height: 210mm;
  border: 1px dashed black;
}

.section {
  padding-top: 4mm;
  padding-bottom: 4mm;
}

.text-primary {
    color:black;
}

.text-info{
    color:black;
}

.realce{
    font-weight: 500;
}

@media screen {
  #printSection {
      display: none;
  }
}
@media print {
  body * {
      visibility:hidden;
  }
  #printSection, #printSection * {
      visibility:visible;
  }
  #printSection {
      position:absolute;
      left:0;
      top:0;
  }
}

.printButton {
  position: fixed;
  background-color: #cee5ed;
  padding: 10px;
  text-align: left;
  border-radius: 10px;
}

.printSettings {
  position: fixed;
  top: 100px;
}

.boletosPosition {
  display: flex;
  justify-content: center;
}

h1 {
  margin: 8px;
  font-family: Roboto, "Arial, Helvetica, sans-serif";
  font-weight: 500;
}
h4, h3, h2{
  margin: 5px;
  font-family: Roboto, "Arial, Helvetica, sans-serif";
  font-weight: 500;
}
