<h1 *ngIf="!data" mat-dialog-title>Criar Novo Boleto</h1>
<h1 *ngIf="data" mat-dialog-title>Administrar Boleto</h1>

<form [formGroup]="fg" (ngSubmit)="onSubmit()">
  <mat-dialog-content>
    <div mat-dialog-content class="container">

      <mat-form-field appearance="fill">
        <mat-select placeholder="Escolha um Cliente" formControlName="cliente" [compareWith]="compareFn" (blur)="updateValor()">
          <mat-option *ngFor="let cliente of clientes" [value]="cliente">
            {{cliente.nome}}
          </mat-option>
        </mat-select>
        <mat-icon matSuffix>check</mat-icon>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <input matInput [matDatepicker]="picker" placeholder="Escolha uma data" formControlName="dataPrimeiraParcela" >
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Valor do Aluguel</mat-label>
        <input matInput placeholder="" formControlName="valor" readonly="true">
        <mat-hint>Valor Informado em Clientes</mat-hint>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Quantidade de Parcelas</mat-label>
        <input matInput placeholder="12" formControlName="parcela">
        <mat-hint>Selecione a quantidade total de parcelas</mat-hint>
      </mat-form-field>

    </div>
  </mat-dialog-content>
  <app-button color="primary" (click)="onSubmit()">Salvar</app-button>&nbsp;
  <app-button color="warn" (click)="limparForm();onNoClick();">Cancelar</app-button>  

</form>

<div *ngIf="prefferedConfig">
  <app-form-debug *ngIf="prefferedConfig.showFormDebug" [form]="fg"></app-form-debug>
</div>
