<div id='cssmenu'>
  <ul>
    <li [ngClass]="{'active':selectedTab === 'dashboard'}" (click)="selectTab('dashboard')">
      <a routerLink="dashboard" routerLinkActive="active">Dashboard</a>
    </li>
    <li [ngClass]="{'active':selectedTab === 'emissor'}" (click)="selectTab('emissor')">
      <a routerLink="emissor" routerLinkActive="active">Emissor</a>
    </li>
    <li [ngClass]="{'active':selectedTab === 'cliente'}" (click)="selectTab('cliente')">
      <a routerLink="cliente" routerLinkActive="active">Cliente</a>
    </li>
    <li [ngClass]="{'active':selectedTab === 'boleto'}" (click)="selectTab('boleto')">
      <a routerLink="boleto" routerLinkActive="active">Boleto</a>
    </li>
    <li [ngClass]="{'active':selectedTab === 'configuracoes'}" (click)="selectTab('configuracoes')">
      <a routerLink="configuracoes" routerLinkActive="active">Configuracoes</a>
    </li>
  </ul>
</div>
