<div id='cssmenu'>
  <ul>
    <li routerLink="dashboard" routerLinkActive="active" (click)="selectTab('dashboard')">
      <a>Dashboard</a>
    </li>
    <li routerLink="emissor" routerLinkActive="active" (click)="selectTab('emissor')">
      <a >Emissor</a>
    </li>
    <li routerLink="cliente" routerLinkActive="active" (click)="selectTab('cliente')">
      <a >Cliente</a>
    </li>
    <li routerLink="boleto" routerLinkActive="active" (click)="selectTab('boleto')">
      <a >Boleto</a>
    </li>
    <li routerLink="configuracoes" routerLinkActive="active" (click)="selectTab('configuracoes')">
      <a >Configuracoes</a>
    </li>
  </ul>
</div>
