<mat-toolbar color="primary">
  <span>Boletos</span>

  <!-- This fills the remaining space of the current row -->
  <div class="example-fill-remaining-space">
    <div class="example-button-row">
      <a mat-flat-button color="primary" routerLink="dashboard" routerLinkActive="active">Dashboard</a>
      <a mat-flat-button color="primary" routerLink="emissor" routerLinkActive="active">Emissor</a>
      <a mat-flat-button color="primary" routerLink="cliente" routerLinkActive="active">Cliente</a>
      <a mat-flat-button color="primary" routerLink="boleto" routerLinkActive="active">Boleto</a>
      <a mat-flat-button color="primary" routerLink="configuracoes" routerLinkActive="active">Configuracoes</a>
    </div>
  </div>

  <span>@</span>
</mat-toolbar>
