table {
  width: 100%;
}

tr.example-detail-row {
  height: 0;
}

tr:not(.example-expanded-row):hover {
  background: #f5f5f5;
}

tr:not(.example-expanded-row):active {
  background: #efefef;
}

.buttonGroup {
  justify-content: center;
  display: flex;
}

.buttonGroup:hover {
  .bt1 {
    visibility: hidden;
    opacity: 0;
    transition: all 500ms;
  }
  .bt2 {
    visibility: visible;
    opacity: 1;
    transform: translate(-20px, 0);
    transition: all 500ms;
  }
  .bt3 {
    visibility: visible;
    opacity: 1;
    transform: translate(20px, 0);
    transition: all 500ms;
  }
}

.buttonGroup {
  .bt1 {
    visibility: visible;
    opacity: 1;
    transition: all 300ms;
  }
  .bt2 {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    transition: all 300ms;
  }
  .bt3 {
    visibility: hidden;
    position: absolute;
    opacity: 0;
    transition: all 300ms;
  }
}

.mousebtn {
  cursor: pointer;
}
