<mat-card *ngIf="messages.messages.length" class="form-width">
  <mat-card-header>
    <mat-card-title>Messages</mat-card-title>
    <mat-card-subtitle><button mat-flat-button color="warn" (click)="messages.clear()">
        Zerar Mensages </button></mat-card-subtitle>
  </mat-card-header>
  <hr>
  <mat-card-content>
    <div *ngFor="let message of messages.messages">
      <code> {{ message }} </code>
    </div>

  </mat-card-content>
  <mat-card-actions>
    <hr>
  </mat-card-actions>
</mat-card>
