<mat-card>
  <form [formGroup]="fg" (ngSubmit)="onSubmit()" *ngIf="emissor$ | async as emissor; else loading">
    <mat-card-header>
      <mat-card-title>Administrar Emissor</mat-card-title>
      <mat-card-subtitle>Configurar Emissor Principal de Boletos</mat-card-subtitle>
    </mat-card-header>
    <hr>
    <mat-card-content>
      <div class="container">

        <mat-form-field appearance="fill">
          <mat-label> Nome</mat-label>
          <input matInput type="text" id="Name" placeholder="Nome Completo" formControlName="nome"><br />
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label> Email</mat-label>
          <input matInput type="email" id="Email" placeholder="E-mail" formControlName="email"><br />
        </mat-form-field>

        <mat-form-field appearance="fill" class=" formsize">
          <mat-label> Telefone</mat-label>
          <input matInput type="text" id="Telefone" placeholder="Telefone" formControlName="telefone"><br />
        </mat-form-field>

        <div formGroupName="endereco" class="container">

          <mat-form-field appearance="fill">
            <mat-label> cep</mat-label>
            <input matInput type="text" id="cep" placeholder="cep" formControlName="cep" (blur)="consultaCEP()">
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label> rua</mat-label>
            <input matInput type="text" id="rua" placeholder="rua" formControlName="rua">
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label> Número</mat-label>
            <input matInput type="text" id="numero" placeholder="numero" formControlName="numero">
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label> bairro</mat-label>
            <input matInput type="text" id="bairro" placeholder="bairro" formControlName="bairro">
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label> complemento</mat-label>
            <input matInput type="text" id="complemento" placeholder="complemento" formControlName="complemento"><br />
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label> estado</mat-label>
            <mat-select id="estado" formControlName="estado" (blur)="loadCidades()" (change)="loadCidades()"
              [compareWith]="compareFn">
              <mat-option *ngFor="let estado of estados$ | async" [value]="estado"> {{estado.nome}} </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label> cidade</mat-label>
            <mat-select id="cidade" formControlName="cidade" [compareWith]="compareFn">
              <mat-option *ngFor="let cidade of cidades$ | async" [value]="cidade"> {{cidade.nome}} </mat-option>
            </mat-select>
          </mat-form-field>

        </div>

      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-flat-button color="primary" type="submit" ng-disabled="fg.$invalid">Salvar</button>&nbsp;
      <button mat-flat-button color="warn" type="text" (click)="limparForm()"> Cancelar </button>
    </mat-card-actions>
  </form>
</mat-card>

<div *ngIf="config">
  <app-form-debug *ngIf="config.showFormDebug" [form]="fg"></app-form-debug>
</div>

<div *ngIf="config">
  <app-form-debug *ngIf="config.showFormDebug" [form]="fg"></app-form-debug>
</div>
<ng-template #loading>
  <span> Carregando...</span>
</ng-template>
